.dao-tabs {
  .interdao-tabs-nav {
    &::before {
      border-color: transparent !important;
    }
  }
}
.dao-detail-divide {
  height: 100% !important;
  color: '#1A1311' !important;
}

#light {
  .dummy {
    color: black;
  }
  .dao-tag {
    color: #1a1311 !important;
    background: #f9deb0 !important;
    border: none !important;
  }
  .regime-tag {
    &::before {
      border-left-color: #fffaf2 !important;
    }
  }
}

#dark {
  .dummy {
    color: white;
  }
  .dao-tag {
    color: #fff !important;
    background: #251d19 !important;
    border: none !important;
  }
  .regime-tag {
    &::before {
      border-left-color: #2b2523 !important;
    }
  }
  .dao-detail-divide {
    border-left: 1px solid #f9deb0 !important;
  }
}
