.mechanism {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
  gap: 16px;
  &-item {
    padding: 9px 42px !important;
    background-color: rgba(3, 163, 38, 0.1) !important;
    color: #03a326 !important;
    border-radius: 4px !important;
    .sentre-radio {
      &-inner {
        display: none !important;
      }
    }
  }
  .sentre-radio-wrapper-checked {
    background-color: #14ffd0 !important;
  }
}

.form-input-token {
  border: solid 1px #d3d5d6 !important;
  border-radius: 16px !important;
  padding: 24px;
  margin: 0 !important;
}
