.choose-dao-wrapper {
  .active {
    border: 1px solid;
  }
}
.dao-logo-img {
  .interdao-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.create-progress {
  .interdao-progress-steps-item {
    width: 40px !important;
    border-radius: 2px;
  }
}
