.caption {
  font-size: 12px;
}
.gradient-text {
  background: linear-gradient(81.55deg, #f148fb 0%, #4e6abe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.mechanism-tag {
  position: absolute;
  min-width: 120px;
  right: 0;
  margin: 0px !important;
  padding: 4px 24px !important;
  border-radius: 0px !important;
  border: none;
  box-shadow: unset;
  border-radius: 0;
  text-transform: capitalize;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: -1px;
    top: 0px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 8px solid #f4f4f5;
  }
}
.normal-tag {
  padding: 2px 16px !important;
  border-radius: 4px !important;
  margin: 0;
}
.ellipsis-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.total-dao {
  width: 100%;
  padding: 5px 16px;
  border-radius: 16px;
  background: #d0e9fe;
}
.legend-status {
  position: relative;
  padding-left: 16px;
  color: #fff !important;
  text-align: left;
  &::after {
    content: '';
    position: absolute;
    left: -16px;
    width: 4px;
    height: 100%;
  }
  &.legend-voting::after {
    background-color: #ff00f5;
  }
  &.legend-passed::after {
    background-color: #63e0b3;
  }
  &.legend-failed::after {
    background-color: #dadada;
  }
}

#dark {
  .mechanism-tag {
    &::after {
      border-left-color: #212433;
    }
  }
}
