.space-full-width {
  width: 100%;
  .sentre-space-item {
    width: inherit;
  }
}
.select-filter-proposal {
  .interdao-select {
    &-selector {
      border-radius: 4px !important;
    }

    &-arrow {
      color: #a08d70 !important;
    }
  }
}
.proposal-card {
  box-shadow: none !important;
  border-radius: 0px !important;
  border-bottom: solid 1px #f9deb0 !important;
  box-shadow: unset !important;
  background-position: right !important;
  background-size: cover !important;
}
