.info-member {
  .interdao-tooltip-inner {
    background: #fff4e0 !important;
    padding: 12px 16px;
  }
  .interdao-tooltip-arrow {
    &-content {
      background-color: #fff4e0 !important;
      transform: translateY(13px) rotate(406deg) !important;
    }
  }
}
.treasury-addr {
  max-width: 286px !important;
}

#dark {
  .interdao-tooltip-inner {
    background: #38302e !important;
  }
  .interdao-tooltip-arrow {
    &-content {
      background-color: #38302e !important;
    }
  }
}
