.info-member {
  .interdao-tooltip-inner {
    background: #fff4e0 !important;
    padding: 12px 16px;
  }
  .interdao-tooltip-arrow {
    &-content {
      background-color: #fff4e0 !important;
      transform: translateY(13px) rotate(406deg) !important;
    }
  }
}
.treasury-addr {
  max-width: 286px !important;
}

.join-dao {
  .interdao-modal-body {
    position: relative;
    padding: 72px 24px 24px 24px !important;
    mix-blend-mode: hard-light !important;
    .interdao-image {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      opacity: 0.5;
      img {
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
}

#dark {
  .interdao-tooltip-inner {
    background: #38302e !important;
  }
  .interdao-tooltip-arrow {
    &-content {
      background-color: #38302e !important;
    }
  }
}
